@use "./scss/abstracts/" as *;
/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-create-block-meetings-table-block {
	margin-bottom: 1.6rem;
	position: relative;

	@include row-bottom-line("pos", 0px, 0px, 0px, 3, $black);

	// Styles for saved blocked (NOT editor block)
	&.wp-block-create-block-meetings-table-block_save {
		.editing-locked-msg {
			display: none;
		}

		@media screen and (max-width: 991px) {
			.wp-block-create-block-meetings-table-block__filters {
				grid-template-columns: repeat(1, 1fr);

				select {
					width: 100%;
				}

				label {
					grid-template-columns: 0.75fr 2fr;
				}
			}

			table {
				caption {
					&::after {
						display: none;
					}

					border: none;

					h2 {
						width: 100%;
					}

					button {
						display: none;
					}

					.print-btn-disabled-notice {
						display: none;
					}
				}

				thead {
					border: none;
					clip: rect(0 0 0 0);
					height: 1px;
					margin: -1px;
					overflow: hidden;
					padding: 0;
					position: absolute;
					width: 1px;
				}

				tbody {
					&::after {
						display: none;
					}

					tr {
						display: block;
						margin-bottom: 1.6rem;
						border: 1px solid $black;
						border-width: 0;
						border-bottom-width: 1px;

						td {
							display: block;
							border-left-width: 1px;

							&::before {
								content: attr(data-heading-label);
								display: block;
								font-weight: bold;
								text-transform: uppercase;
							}
						}
					}
				}
			}
		}

		@media screen and (max-width: 767px) {
			.wp-block-create-block-meetings-table-block__filters {
				label {
					grid-template-columns: repeat(1, 1fr);
				}
			}
		}
	}

	.wp-block-create-block-meetings-table-block__filters__wrapper {
		text-align: left;
	}

	.wp-block-create-block-meetings-table-block__filters {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
		margin-bottom: 1rem;

		label {
			display: grid;
			grid-template-columns: 0.5fr 2fr;
		}

		button {
			&.wp-block-create-block-meetings-table-block_reset-btn {
				width: 175px;
			}
		}
	}

	table {
		border-collapse: separate;
		border-width: 0;

		@media print {
			page-break-after: auto;
		}

		.hide {
			display: none;
		}

		caption {
			background-color: $black;
			border: 1px solid $white;
			border-top-color: $black;
			border-right-color: $black;
			border-left-color: $black;
			color: #fff;
			text-align: left;
			padding: 8px;
			position: relative;

			@include row-bottom-line("pos", 2px, -1px, -1px, 3, $white);

			h2 {
				float: left;
				width: 50%;
				color: $white;
				line-height: 1.8rem;

				@media print {
					font-size: 1.5rem;
					line-height: 1.5rem;
					width: 100%;
				}

				.notification {
					font-size: 1.25rem;
				}
			}

			button {
				float: right;

				@media print {
					display: none;
				}
			}

			.print-btn-disabled-notice {
				float: right;

				@include link-style($white);
			}
		}

		tr {
			@media print {
				page-break-inside: avoid;
				page-break-after: auto;
			}
		}

		th,
		td {
			vertical-align: top;
			text-align: left;

			@media print {
				page-break-inside: avoid;
				page-break-after: auto;
			}
		}

		thead {
			position: sticky;
			top: 0;
			z-index: 3;

			@media print {
				position: static;
				display: table-header-group;
			}

			tr {
				position: relative;
				z-index: 5;

				th {
					background-color: $black;
					border: 1px solid $white;
					border-top-width: 0;
					border-bottom-width: 0;
					border-left: 0;
					color: #fff;
					position: relative;

					&:first-of-type {
						border-left-color: $black;
					}

					&:last-of-type {
						border-right-color: $black;
					}
				}
			}
		}

		tbody {
			position: relative;

			@media print {
				display: table-header-group;
			}

			tr {
				@media print {
					position: relative;

					@include row-bottom-line("pos", 0px, 0px, -1px, 3, $black);
				}

				td {
					border: 1px solid $black;
					border-left-width: 0;
					border-bottom-width: 0;

					@media print {
						font-size: 0.7rem;

						p {
							font-size: 0.7rem;

							@media print {
								margin-bottom: 0.5rem;
								line-height: 1rem;
							}
						}
					}

					&:first-of-type {
						border-left-width: 1px;
					}

					p {
						margin-bottom: 0.75rem;
					}

					ul {
						margin: 0;
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}

			&.original-data {
				tr {
					background-color: $white;

					&:nth-child(odd) {
						background-color: $light-gray;
					}
				}
			}

			&.copied-data {
				tr {
					&.bg-light-gray {
						background-color: $light-gray;
					}
					&.bg-white {
						background-color: $white;
					}

					&.hide {
						display: none;
					}
				}
			}
		}
	}
}

// Print styles
@media print {
	body {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;

		#content {
			background-color: $white;
		}

		.wp-block-create-block-meetings-table-block_hide-print {
			display: none !important;
		}
	}
}
